@tailwind base;

h1 {
  @apply text-2xl font-bold my-8;
}
h2 {
  @apply text-xl font-bold my-6;
}
h3 {
  @apply text-lg font-bold my-4;
}
h4 {
  @apply text-base font-bold my-2;
}

blockquote {
  @apply m-12
}

@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}

.embed-pdf {
  height: 15rem;

  @apply w-full mx-auto
}

@screen sm {
  .embed-pdf {
    height: 38rem;

    @apply w-4/5
  }
}

.embed-iframe {
  @apply w-full mx-auto my-6
}

@screen sm {
  .embed-iframe {
    height: 38rem;

    @apply w-4/5
  }
}

.no-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
